<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" href="../favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../style/swiper-bundle.min.css">
    <script src="../scripts/swiper-bundle.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <a href="/" class="nav__img">
                    <img class="" src="../img/logo.svg" alt="logo">
                </a>
                <div class="nav-list">
                    <a href="/vacancy" class="nav-item">
                        <span class="">Работы</span>
                        <span class="nav-item__counter">+12</span>
                    </a>
                    <a href="/services" class="nav-item">
                        <span class="">Услуги</span>
                    </a>
                    <a href="" class="nav-item">
                        <span class="">О компании</span>
                    </a>
                    <div class="nav-list__buttons">
                        <a href="/feed" class="btn btn-wide nav-list__button">
                            Написать нам
                            <img src="../img/icon/message.svg" alt="message">
                        </a>
                        <button class="btn nav-list__button">
                            RU
                        </button>
                    </div>
                </div>
                <div class="nav-toggle">
                    <div class="nav-toggle-area"></div>
                    <div class="nav-toggle-bar"></div>
                </div>
                <div class="nav-side">
                    <div class="nav-side-list">
                        <a href="/vacancy" class="nav-item">
                            <span class="">Работы</span>
                            <span class="nav-item__counter">+12</span>
                        </a>
                        <a href="/services" class="nav-item">
                            <span class="">Услуги</span>
                        </a>
                        <a href="" class="nav-item">
                            <span class="">О компании</span>
                        </a>
                        <a href="/feed" class="btn btn-wide nav-list__button">
                            Написать нам
                            <img src="../img/icon/message.svg" alt="message">
                        </a>
                        <button class="btn nav-list__button">
                            RU
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="dev">
        <div class="container">
            <h2 class="dev-title title">Веб-разработка</h2>
            <p class="dev-subtitle text-primary">Проектируем, разрабатываем, тестируем и сопровождаем
                высокотехнологичные веб-системы. Обладаем ресурсами для воплощения в жизнь самых сложных бизнес-задач
                заказчика.</p>
            <div class="dev-picture">
                <a href="" class="play_btn dev-picture__play">
                    <img src="../img/icon/play.svg" alt="play">
                </a>
                <img src="../img/dev.png" alt="dev">
            </div>
        </div>
    </section>
    <section class="tech">
        <div class="container">
            <h2 class="tech-title title">Техническая реализация</h2>
            <p class="tech-subtitle text-primary">Команда проекта имеет обширный опыт работы как на CMS, так и на
                фреймворках для более крупных проектов. Также нам удалось объединить большое количество передовых
                технологий и практик, и применить их на сотни проектов.</p>
            <div class="tech-list" v-scope>
                <div class="btn tech-item" v-for="(item, index) in tech_list" :key="index">
                    <img class="tech-item__img " :src="`../img/tech/${item.icon}.png`" alt="1c">
                    <span class="tech-item__title">{{item.title}}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="way">
        <div class="container">
            <h2 class="way-title title">Направления веб-разработки</h2>
            <div class="way-list card-list">
                <div class="swiper work-list " id="swiperservices">
                    <div class="swiper-wrapper" v-scope>
                        <div class="swiper-slide" v-for="(item, index) in way_list" :key="index">
                            <div class="way-item card" >
                                <div class="">
                                    <div class="services-item__header">
                                        <div class="btn services-item__header-icon">
                                            <img :src="`../img/icon/${item.icon}.svg`" alt="paint">
                                        </div>
                                        <h3 class="services-item__header-title">{{item.title}}</h3>
                                    </div>
                                    <p class="services-item__text">{{item.text}}</p>
                                </div>
                                <a :href="item.link" class="btn services-item__link">Составить бриф</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    <sections class="work">
        <div class="container">
            <h2 class="work-title title">Процесс разработки</h2>
            <div class="card-list">
                <div class="swiper work-list " id="swiperabout">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="work-item card active">
                                <div class="btn card-icon work-item__icon">
                                    <img src="../img/icon/magic.svg" alt="paint">
                                </div>
                                <h3 class="work-item__title">Оценка проекта</h3>
                                <p class="work-item__text">Собираем аналитику и погружаемся
                                    в контекст — исследуем рынок, анализируем конкурентов.
                                    Создаем пользовательские сценарии
                                    и оцениваем объем работ на основе пожеланий и требований клиента.
                                    За счет этого мы предусматриваем
                                    все проблемные моменты
                                    и возможные изменения.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="work-item card">
                                <div class="btn card-icon work-item__icon">
                                    <img src="../img/icon/paint.svg" alt="paint">
                                </div>
                                <h3 class="work-item__title">UX/UI дизайн</h3>
                                <p class="work-item__text">Начинаем с проработки внутренней логики — создаем майндмэп.
                                    Затем
                                    переносим ее в черно-белые вайрфреймы. Когда логика работы согласована,
                                    прорабатываем
                                    1-2
                                    экрана
                                    из главного пользовательского сценария, чтобы определиться с основным стилем
                                    интерфейса.
                                    Затем
                                    прорабатываем все детали, финализируем дизайн и создаем UI-кит для удобной и быстрой
                                    разработки.
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="work-item card">
                                <div class="btn card-icon work-item__icon">
                                    <img src="../img/icon/code.svg" alt="code">
                                </div>
                                <h3 class="work-item__title">Разработка</h3>
                                <p class="work-item__text">Весь процесс разработки мы делим на 2-недельные спринты. Это
                                    позволяет
                                    клиенту контролировать ход работы и быстро вносить изменения. Пробные релизы делаем
                                    в
                                    TestFlight
                                    и Google Play бета-тестировании, чтобы показать, как приложение работает
                                    на реальных устройствах.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="work-item card">
                                <div class="btn card-icon work-item__icon">
                                    <img src="../img/icon/chart.svg" alt="chart">
                                </div>
                                <h3 class="work-item__title">Тестирование</h3>
                                <p class="work-item__text">Чтобы мобильные приложения работали без сбоев, а баги не
                                    пробирались
                                    в прод, мы тестируем каждый проект вручную и с помощью автоматизированных тестов.
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="work-item card">
                                <div class="btn card-icon work-item__icon">
                                    <img src="../img/icon/star.svg" alt="star">
                                </div>
                                <h3 class="work-item__title">Релиз и поддержка</h3>
                                <p class="work-item__text">Мы знаем все тонкости публикации
                                    в App Store и Google Play и всегда доводим релиз до конца.
                                    А после выхода в релиз поддерживаем
                                    и развиваем продукты: добавляем
                                    новые фичи и фиксим баги.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </sections>
    <section class="projects">
        <div class="container">
            <h2 class="projects-title title">Реализованные проекты</h2>
            <div class="projects-tags" v-scope>
                <div class="tag projects-tag primary-color" v-for="(item, index) in project_tags" :key="index" :class="current_project == index && 'active'" @click="current_project = index">{{item}}</div>
            </div>
            <div class="projects-list">
                <div class="swiper work-list " id="swiperprojects" v-scope>
                    <div class="swiper-wrapper" >
                        <div class="swiper-slide" v-for="(item, index) in filterProject" :key="index">
                            <div class="projects-item">
                                <div class="projects-item__img">
                                    <img :src="`../img/projects/${item.img}.png`" alt="design">
                                </div>
                                <h3 class="projects-item__title">
                                    {{item.title}}
                                </h3>
                                <div class="projects-item__text">{{item.text}}</div>
                                <a :href="item.link" class="btn projects-item__link">Узнать подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="footer-content">
                    <div class="footer-left">
                        <h2 class="footer-title title">
                            Есть идея? <img src="../img/hm.png" alt="smile">
                        </h2>
                        <p class="footer-text">Давайте сделаем что-то удивительное вместе!</p>
                    </div>
                    <div class="footer-right">
                        <a href="" class="btn btn-wide footer__button">
                            Написать нам
                            <img src="../img/icon/message.svg" alt="message">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-content">
                    <div class="footer-left">
                        <div class="footer-list">
                            <div class="footer-item">
                                <h3>Услуги</h3>
                                <div class="footer-item__links">
                                    <a href="" class="footer-item__link">Design</a>
                                    <a href="" class="footer-item__link">Development</a>
                                    <a href="" class="footer-item__link">Marketing</a>
                                </div>
                            </div>
                            <div class="footer-item">
                                <h3>О компании</h3>
                                <div class="footer-item__links">
                                    <a href="" class="footer-item__link">О нас</a>
                                    <a href="" class="footer-item__link">Вакансии</a>
                                    <a href="" class="footer-item__link">Связаться с нами</a>
                                </div>
                            </div>
                            <div class="footer-item">
                                <h3>Работы</h3>
                                <div class="footer-item__links">
                                    <a href="" class="footer-item__link">Web app</a>
                                    <a href="" class="footer-item__link">Mobile app</a>
                                    <a href="" class="footer-item__link">Websites</a>
                                    <a href="" class="footer-item__link">E-commerce</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-right">
                        <a href="" class="footer-logo">
                            <img src="../img/logo_light.svg" alt="logo_light">
                        </a>
                        <a href="mailto:info@quantum.com" class="link">info@quantum.com</a>
                        <div class="footer-right__list">
                            <a href="" class="footer-right__item">Medium</a>
                            <a href="" class="footer-right__item">Behance</a>
                            <a href="" class="footer-right__item">Dribbble</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="module" src="../scripts/script.js"></script>
</body>

</html>